.matrix {
  display: grid;
}

.cell {
  cursor: pointer;
  width: 64px;
  height: 64px;
  border: 1px solid gray;
  font-size: 24px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: yellow;
}

.matrix[data-win="true"] .cell {
  background-color: yellow;
}